<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaoyili.dao.SportActionMapper">
  <resultMap id="BaseResultMap" type="com.yaoyili.model.SportAction">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    aid, name, pic_url, detail
  </sql>

    <select id="getActionsByScid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select aid, name, pic_url, detail
        from sport_action NATURAL JOIN class_actions
        where scid = #{scid,jdbcType=INTEGER}
    </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sport_action
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sport_action
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yaoyili.model.SportAction">
    insert into sport_action (aid, 
name, pic_url, 
      detail)
    values (#{aid,jdbcType=INTEGER}, #{
name,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yaoyili.model.SportAction">
    insert into sport_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="
name != null">
        
name,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="
name != null">
        #{
name,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaoyili.model.SportAction">
    update sport_action
    <set>
      <if test="
name != null">
        
name = #{
name,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaoyili.model.SportAction">
    update sport_action
    set 
name = #{
name,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>